body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.app-container{
    width: 100vw;
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
}

.chart-container{
    width: fit-content;
    height: fit-content;
    max-width: 95%;
    background-color: black;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    align-items: center;
    padding: 0.5rem;
}

.candle-wrapper{
    height: 160px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    color: yellow;
    margin: 0.5rem;
    div{
        white-space: nowrap;
    }
}

.candle-bar{
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
    width: 2rem;
    div{
        background-color: yellow;
    }
}

.table-container{
    height: 300px;
    width: 97%;
    max-width: 800px;
    border: 2px solid black;
    overflow-y: scroll;
}

#main-row{
    background-color: grey;
    font-weight: 700;
}

.table-row{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;

    div{
        border: 1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: calc(100%/3);
        padding: .5rem;
    }
}
